* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
}

.changelog {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 32px 16px;
    background-color: white;
    max-width: 640px;
    border: 2px solid black;
    border-radius: 16px;
}

.changelog h1 {
    margin: 0;
}

.changelog h2 {
    color: #9ca3af;
    font-size: 12px;
    margin: 0;
}

.changelog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.changelog-element-container {
    font-family: inherit;
    display: grid;
    width: 100%;
    grid-template-columns: 0.3fr auto 0.6fr;
    column-gap: 16px;
    row-gap: 32px;
    align-items: center;
    justify-content: center;
}

.changelog-element {
    display: contents;
}

.changelog-date {
    justify-self: end;
    margin: 0;
    white-space: nowrap;
    color: #9ca3af;
}

.changelog-separator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
}

.changelog-data {
    margin: 0;
}

.changelog-action {
    color: white;
    background-color: black;
    padding: 12px 32px;
    text-decoration: none;
    border-radius: 8px;
}