* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
}

form {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 8px;
    max-width: 300px;
}

button {
    margin-top:16px;
}