* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
}

form {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 16px;
}

form input,
form select{
    max-width: 200px;
}

button {
    max-width: 200px;
}

#order-items-input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
}

.new-item-input-container {
    display: flex;
    gap: 16px;
}